@import './variables';

@mixin centered($column: false) {
	display: flex;
	align-items: center;
	justify-content: center;

	@if($column) {
		flex-direction: column;
	}
}

@mixin expanded {
	height: 100%;
	width: 100%;
}

@mixin square($size: $grid-base-2x) {
	height: $size;
	width: $size;
}

@mixin circle($size: $grid-base-2x) {
	@include square($size);
	border-radius: 50%;
}

@mixin initial-state-fade-in-up($translate-y: 40px) {
	opacity: 0 !important;
	transform: translateY($translate-y);
}

@mixin text-ellipsis {
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
}

@mixin path-fill($color) {
	path:not([fill='none']) {
		fill: $color;
	}
}

@mixin path-stroke($stroke) {
	path:not([fill='none']) {
		stroke: $stroke;
	}
}

@mixin common-button-styles {
	border: none;
	padding: $grid-base-2x $grid-base-4x;
	font-size: $font-normal-1;
	border-radius: $border-radius-standard;
	letter-spacing: 0.5px;
	transition: background-color $animation-standard, color $animation-standard;
}

@mixin button-primary {
	@include common-button-styles;
	color: white;
	background-color: $cyan-standard;

	&:hover {
		background-color: $cyan-dark-2;
	}
}

@mixin button-secondary {
	@include common-button-styles;
	color: $yellow-dark-1;
	background-color: $yellow-light-4;

	&:hover {
		background-color: $yellow-light-3;
	}
}

@mixin background-primary {
	color: white;
	background: linear-gradient(30deg, $cyan-light-2, $cyan-standard 50%);
	background-position-x: 0;
	background-size: 200% 100%;
	transition: background-position-x $animation-standard;

	&:hover {
		background-position-x: 100%;
	}
}
