@import 'globals/variables';
@import 'globals/mixins';

.brand {
  font-size: $font-maxima;
}

.padded {
  padding: $grid-base-6x;
}

.brand-l2 {
  font-size: $font-title;
  letter-spacing: 0.3rem;
}

.container {
  @include expanded;
  @include centered(true);
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  box-sizing: border-box;
}
